.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 80px;
  }

  .project img {
    max-width: 200px;
    max-height: 150px;
    margin-right: 100px;
  }

  .project-details {
    flex: 1;
  }

  .project-details p,
  .project-details h2,
  .project-details h3 {
    color: var(--light-color);
    text-align: left;
    padding-right: 100px;
}

.project-details h2,
.project-details h3 {
    text-transform: uppercase;
}
.project-details p {
    padding-bottom: 80px;
}

.project img {
    max-width: 95vw;
    max-height: 30vw;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
}

.desc p{
    color: var(--light-color);
    text-align: center;
    padding-left: 100px;
    align-content: center;
    max-width: 415px;
}

.project a {
    margin-top: 200px;
    border-radius: 10px;
}