@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}
body {
    background-color:#bdbdbd;
}
ul{
    list-style-type: none;
}
.py-7{
    padding: 7rem 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
html {
  /*scroll-behavior: smooth;*/
  font-family: sans-serif;
}
.vh-100{
    min-height: 75vh;
}
.container {
  width: auto;
  height: auto;
  display: flex;
  padding: 10px;
  gap: 0.625%;
}
.container img {
    width: 100%;
    height: 100%; 
    max-width: 75vw;
    object-fit: contain;
    padding: 0vh;
  }
  
a.two {
  flex: 1;
  opacity: 100;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-image: none;
}

a.image:visited,
a.image:focus,
a.image:link {
    background: none;
    color: none; 
}
a.image:hover,
a.image:active {
    text-decoration: none;
    color: none;
}
a:link,
a:visited,
a:focus {
  background: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(0, 0, 0);
  background: rgb(137, 135, 132);
}
a:active {
  background: darkred;
  color: white;
}
.images{
    width: 90%;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    height: auto;
    width: auto;
    margin: 0 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
    transition: transform .3s ease-in-out;
}
.box img{
    display: flex;
    height: 30vw;
    width: 40vw;
    border-radius: 5px;
    object-fit: fill;
    align-content: center;
}
.box:hover{
    transform:scale(1.3);
    z-index:2;
}

/*header*/
#header-work{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('Web Pics/IMG_3697.JPG') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header-work.vh-100 .container .header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--light-color);
}

#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('Web Pics/IMG_7714.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}

#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: black;
    margin-right: 1rem;
    border-radius: .4rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
    padding: 10%;
}
.social-links li a:hover{
    opacity: 0.9;
    color: darkred;
}
.intro-left{
    margin-bottom: 4rem;
    height: auto;
    width: auto;
    overflow: hidden;
    object-fit: scale-down;
    padding-left: 5%;
    padding-right: 5%;
}
.title{
    margin-bottom: 5rem;
}

.title-sub h2{
    margin-bottom: 80px;
    text-transform: uppercase;

}

.title h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}
.intro-bod{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7vw;
    font-weight: 300;
    line-height: 1.8;
    max-width: 50vw;
    max-height: 20vw;
}

.images-link{
        background: none;
        color: none; 
        padding: 4%;
}